init:
  - git config --global core.autocrlf input

environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.11"

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  # Test multiple Windows shells because of prior stdout buffering issues
  # filed against Grunt. https://github.com/joyent/node/issues/3584
  - ps: "npm test --no-color # PowerShell" # Pass comment to PS for easier debugging
  - cmd: npm test --no-color

build: off

version: "{build}"
